<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PosDb"
         connectionString="server=localhost;
         port=3306;
         database=pos_system;
         uid=root;
         pwd=;
         SslMode=None;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>